@import './_primitives.css';
@import './_semantic.css';

:root {
  font-family: system-ui, sans-serif;
  line-height: 1.5;
  color: var(--color-text);
  background-color: var(--color-page);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}
